@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #14213d;
  --secondary: #f57e00;
  --tertiary: #011627;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Baloo Paaji 2", sans-serif;
  background-color: var(--primary);
}

/*** HEADER ***/

header {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: var(--primary);
  position: relative;
  z-index: 50;
}

header .site-logo {
  margin-right: auto;
  max-width: 20%;
}

header .site-logo img {
  width: 100%;
  height: auto;
}

header a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 5px 20px;
}

/*** FOOTER ***/

/*** DOMOV ***/

.main-container {
  background-color: var(--primary);
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 500px;
  justify-content: center;
  align-items: center;
}

.main-container h1 {
  color: white;
  font-size: 80px;
  text-transform: uppercase;
}

.main-container p {
  color: white;
  font-size: 20px;
  font-weight: 100;
}

/*** CARD ***/

.card {
  border-radius: 10px;
  border: 1px solid #ffffff;
  padding: 20px;
  width: 300px;
  height: 170px;
}

.card-header {
  display: flex;
  align-items: center;
}

.card-icon {
  color: #f57e00;
  display: flex;
  align-items: center;
  margin-right: 5%;
}

.card h1 {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.card p {
  color: white;
  font-size: 17px;
  text-align: left;
}

/*** SLUŽBY ***/

.home-services {
  background-color: var(--tertiary);
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 500px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

/*** NAŠE PROJEKTY ***/

.home-projects {
  background-color: var(--primary);
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 100px;
}

.home-projects h1 {
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 75px;
}

.home-projects-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.home-projects-images a {
  width: 70%;
  display: flex;
  justify-content: center;
}

.home-projects-images a img {
  width: 100%;
}

/*** O NÁS ***/

.about-container {
  background-color: var(--tertiary);
  display: flex;
  flex-direction: column;
  min-height: 700px;
  justify-content: center;
  align-items: center;
}

.about-container h1 {
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 75px;
}

.person {
  border-radius: 10px;
  border: 1px solid #ffffff;
  margin: 20px;
  padding: 30px;
  width: 250px;
  height: 170px;
}

.persons-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem 10rem;
}

.person-header {
  display: flex;
  align-items: center;
}

.person-icon {
  color: var(--secondary);
  display: flex;
  align-items: center;
  margin-right: 10%;
}

.person h1 {
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 500;
  margin: 0;
}

.person p {
  color: white;
  font-size: 17px;
  text-align: center;
}

/*** KONTAKT ***/

.contact-container {
  background-color: var(--tertiary);
  display: flex;
  flex-direction: column;
  min-height: 800px;
  justify-content: center;
  align-items: center;
}

.contact-container h1 {
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 75px;
}

.contact-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: column;
  grid-gap: 0.5rem 2rem;
}

.contact-textarea {
  display: flex;
  flex-direction: column;
  width: 700px;
  padding-bottom: 2rem;
}

/*** InputField ***/

.input-field {
  margin-bottom: 1.25rem;
  display: block;
  width: 100%;
  border-radius: 0.375rem;
  border: 0;
  padding: 0.375rem 0.375rem;
  color: #1f2937;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 0 1px #d1d5db;
  font-size: 0.875rem;
}

.input-textarea {
  padding: 25px 25px 25px;
  grid-column: span 2;
  min-height: 100px;
}

.submit-button {
  width: 100%;
  border-radius: 0.375rem;
  background-color: var(--secondary);
  padding: 0.5rem 0.75rem;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 600;
  color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.submit-button:hover {
  background-color: rgb(245 126 0 / 0.8);
}

.submit-button:focus-visible {
  outline: 2px solid;
  outline-width: 2px;
  outline-offset: 2px;
}

/** LAPTOP **/

@media (max-width: 1440px) {
  .main-container h1 {
    font-size: 70px;
  }

  .card {
    width: 250px;
    height: 150px;
  }

  .card h1 {
    font-size: 17px;
  }

  .card p {
    font-size: 15px;
  }
}

/** TABLET **/

@media (max-width: 768px) {
  header .site-logo {
    max-width: 30%;
  }

  .main-container h1 {
    font-size: 50px;
  }

  .home-projects h1 {
    font-size: 50px;
  }

  .home-projects {
    min-height: 100px;
  }

  .card {
    width: 180px;
    height: 200px;
  }

  .card-icon {
    margin-right: 10%;
  }

  .card h1 {
    font-size: 15px;
  }

  .card p {
    font-size: 13px;
  }

  .persons-container {
    grid-gap: 1rem 3rem;
  }

  .input-field {
    width: 200px;
  }

  .submit-button {
    padding: 10px 25px 10px;
    width: 150px;
  }
}

/** MOBIL L **/

@media (max-width: 425px) {
  header .site-logo {
    max-width: 40%;
  }

  header a {
    padding: 5px 10px;
    font-size: 12px;
  }

  .main-container {
    min-height: 300px;
  }

  .main-container h1 {
    font-size: 30px;
  }

  .home-projects h1 {
    font-size: 30px;
  }

  .home-services {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  .card {
    width: 200px;
    height: 130px;
  }

  .card h1 {
    font-size: 13px;
  }

  .card p {
    font-size: 12px;
  }

  .home-projects-images {
    grid-template-columns: 1fr;
    grid-gap: 4rem;
  }

  .persons-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-container h1 {
    font-size: 40px;
  }

  .contact-container h1 {
    font-size: 30px;
  }

  .contact-form {
    grid-template-columns: repeat(1, 1fr);
  }

  .input-field {
    width: 250px;
  }

  .submit-button {
    padding: 10px 25px 10px;
    width: 150px;
  }
}

/** MOBIL S **/

@media (max-width: 320px) {
  header .site-logo {
    max-width: 30%;
  }

  .main-container h1 {
    font-size: 20px;
  }

  .home-projects h1 {
    font-size: 30px;
  }

  .main-container p {
    font-size: 15px;
  }

  .person {
    padding: 15px;
  }

  .input-field {
    width: 200px;
  }
}
