html, body {
  margin: 0;
  padding: 0;
  /*background-color: #14213d;*/
  font-family: 'Baloo Paaji 2', sans-serif;
}

/*** HEADER ***/

header {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #14213d;
}

header .site-logo {
  color: rgb(245, 126, 0);
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
}

header a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  padding: 5px 20px;
}

/*** FOOTER ***/

/*** COMPONENTS ***/

.card {
  border-radius: 10px;
  border: 1px solid #ffffff;
  margin: 20px;
  padding: 30px;
  width: 300px;
  height: 170px;
}

.card-header {
  display: flex;
  align-items: center;
}

.card-icon {
  color: rgb(245, 126, 0);
  display: flex;
  align-items: center;
  margin-right: 5%;
}

.card h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.card p {
  color: #ffffff;
  font-size: 17px;
  text-align: left;
}

/*** DOMOV ***/

.main-container { 
  background-color: #14213d; 
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 500px;
  justify-content: center;
  align-items: center;
}

.main-container h1 {
  color: white;
  font-size: 80px;
  text-transform: uppercase;
}

.main-container p {
  color: white;
  font-size: 20px;
  font-weight: 100;
}

/*** SLUŽBY ***/

.home-services {
  background-color: #011627;
  background-size: cover;
  display: flex;
  min-height: 500px;
  justify-content: center;
  align-items: center;
}

/*** NAŠE PROJEKTY ***/

.home-projects { 
  background-color: #14213d; 
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 500px;
  align-items: center;
  padding-top: 30px;
}

.home-projects h1 {
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 75px;
}

.home-projects-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.home-projects-images a{
  width: 70%;
  display: flex;
  justify-content: center;
}

.home-projects-images a img{
  width: 100%;
}



