html, body {
  margin: 0;
  padding: 0;
  /*background-color: #14213d;*/
  font-family: 'Baloo Paaji 2', sans-serif;
}

/*** HEADER ***/

header {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #14213d;
}

header .site-logo {
  margin-right: auto;
}

header .site-logo img {
  width: 50%;
}

header a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  padding: 5px 20px;
}

/*** FOOTER ***/

/*** DOMOV ***/

.main-container { 
  background-color: #14213d; 
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 500px;
  justify-content: center;
  align-items: center;
}

.main-container h1 {
  color: white;
  font-size: 80px;
  text-transform: uppercase;
}

.main-container p {
  color: white;
  font-size: 20px;
  font-weight: 100;
}

/*** CARD ***/

.card {
  border-radius: 10px;
  border: 1px solid #ffffff;
  margin: 20px;
  padding: 30px;
  width: 300px;
  height: 170px;
}

.card-header {
  display: flex;
  align-items: center;
}

.card-icon {
  color: rgb(245, 126, 0);
  display: flex;
  align-items: center;
  margin-right: 5%;
}

.card h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.card p {
  color: #ffffff;
  font-size: 17px;
  text-align: left;
}

/*** SLUŽBY ***/

.home-services {
  background-color: #011627;
  background-size: cover;
  display: flex;
  min-height: 500px;
  justify-content: center;
  align-items: center;
}

/*** NAŠE PROJEKTY ***/

.home-projects { 
  background-color: #14213d; 
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 500px;
  align-items: center;
  padding-top: 30px;
}

.home-projects h1 {
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 75px;
}

.home-projects-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.home-projects-images a{
  width: 70%;
  display: flex;
  justify-content: center;
}

.home-projects-images a img{
  width: 100%;
}

/*** KONTAKT ***/

.contact-container {
  background-color: #011627;
  display: flex;
  flex-direction: column;
  min-height: 800px;
  justify-content: center;
  align-items: center;
}

.contact-container h1 {
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 75px;
}

.contact-form{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: column;
  grid-gap: 2rem 1rem;
}

.contact-textarea{
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*** InputField ***/

.input-field{
  padding: 20px 25px 20px;
  width: 500px;
  border-radius: 8px;
}

.input-textarea{
  padding: 25px 25px 25px;
  grid-column: span 2;
  min-height: 100px;
}

.submit-button{
  padding: 20px 25px 20px;
  width: 300px;
  border-radius: 8px;
  background-color: #f57e00;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}